html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
	tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
	caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: top
}

:focus {
	outline: 0
}

body {
	line-height: 1;
	color: black;
	background: white
}

ol, ul {
	list-style: none
}

table {
	border-collapse: separate;
	border-spacing: 0
}

caption, th, td {
	text-align: left;
	font-weight: normal
}

blockquote:before, blockquote:after, q:before, q:after {
	content: ""
}

blockquote, q {
	quotes: "" ""
}

.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner,
	.fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object,
	.fancybox-nav, .fancybox-nav span, .fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.fancybox-opened {
	z-index: 8030
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
}

.fancybox-outer, .fancybox-inner {
	position: relative
}

.fancybox-inner {
	overflow: hidden
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span
	{
	background-image: url('fancybox_sprite.html')
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('fancybox_loading.html') center center no-repeat
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('blank.html');
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index: 8040
}

.fancybox-prev {
	left: 0
}

.fancybox-next {
	right: 0
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px
}

.fancybox-nav:hover span {
	visibility: visible
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important
}

.fancybox-lock {
	overflow: hidden
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('fancybox_overlay.html')
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll
}

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050
}

.fancybox-opened .fancybox-title {
	visibility: visible
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent;
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff
}

.fancybox-title-inside-wrap {
	padding-top: 10px
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8)
}

#fancybox-loading, .fancybox-prev span, .fancybox-next span {
	background-image: url('../../lib/fancybox/fancybox_sprite.png')
}

.fancybox-close {
	width: 23px;
	height: 23px;
	top: -23px;
	right: -23px;
	background: url('../../img/lightbox/close.png')
}

.fancybox-close:hover {
	background-position: left bottom
}

#fancybox-loading div {
	background: url('../../lib/fancybox/fancybox_loading.gif') center center
		no-repeat
}

.fancybox-nav {
	background: transparent url('../../lib/fancybox/blank.gif')
}

.fancybox-overlay {
	background: url('../../img/lightbox/overlay.png')
}

.fancybox-skin {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px
}

@font-face {
	font-family: 'battersea';
	src: url('../../fonts/battersea-bold-webfont.eot');
	src: url('../../fonts/battersea-bold-webfontd41d.eot?#iefix')
		format('embedded-opentype'),
		url('../../fonts/battersea-bold-webfont.svg#battersea-boldbold')
		format('svg'), url('../../fonts/battersea-bold-webfont.woff')
		format('woff'), url('../../fonts/battersea-bold-webfont.ttf')
		format('truetype');
	font-weight: bold;
	font-style: normal
}

@font-face {
	font-family: 'battersea';
	src: url('../../fonts/battersea-light-webfont.eot');
	src: url('../../fonts/battersea-light-webfontd41d.eot?#iefix')
		format('embedded-opentype'),
		url('../../fonts/battersea-light-webfont.svg#battersea-lightregular')
		format('svg'), url('../../fonts/battersea-light-webfont.woff')
		format('woff'), url('../../fonts/battersea-light-webfont.ttf')
		format('truetype');
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'outsiders';
	src: url('../../fonts/outsiders-bolditalic-webfont.eot');
	src: url('../../fonts/outsiders-bolditalic-webfontd41d.eot?#iefix')
		format('embedded-opentype'),
		url('../../fonts/outsiders-bolditalic-webfont.svg#outsiders-bolditalicBdIt')
		format('svg'), url('../../fonts/outsiders-bolditalic-webfont.woff')
		format('woff'), url('../../fonts/outsiders-bolditalic-webfont.ttf')
		format('truetype');
	font-weight: bold;
	font-style: italic
}

@font-face {
	font-family: 'outsiders';
	src: url('../../fonts/outsiders-italic-webfont.eot');
	src: url('../../fonts/outsiders-italic-webfontd41d.eot?#iefix')
		format('embedded-opentype'),
		url('../../fonts/outsiders-italic-webfont.svg#outsiders-italicitalic')
		format('svg'), url('../../fonts/outsiders-italic-webfont.woff')
		format('woff'), url('../../fonts/outsiders-italic-webfont.ttf')
		format('truetype');
	font-weight: normal;
	font-style: italic
}

@font-face {
	font-family: 'outsiders';
	src: url('../../fonts/outsiders-light-webfont.eot');
	src: url('../../fonts/outsiders-light-webfontd41d.eot?#iefix')
		format('embedded-opentype'),
		url('../../fonts/outsiders-light-webfont.woff') format('woff'),
		url('../../fonts/outsiders-light-webfont.ttf') format('truetype'),
		url('../../fonts/outsiders-light-webfont.svg#outsiders-lightregular')
		format('svg');
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'outsiders';
	src: url('../../fonts/outsiders-lightitalic-webfont.eot');
	src: url('../../fonts/outsiders-lightitalic-webfontd41d.eot?#iefix')
		format('embedded-opentype'),
		url('../../fonts/outsiders-lightitalic-webfont.svg#outsiders-lightitalicitalic')
		format('svg'), url('../../fonts/outsiders-lightitalic-webfont.ttf')
		format('truetype'),
		url('../../fonts/outsiders-lightitalic-webfont.woff') format('woff');
	font-weight: 300;
	font-style: italic
}

.boldfix {
	opacity: 0.99
}

html {
	width: 100%;
	height: 100%;
	overflow-x: hidden
}

body {
	width: 100%;
	min-width: 1024px;
	background: white url(../../img/hero_bg.png) repeat-x;
	overflow-x: hidden
}

body, input, select, textarea, button {
	font-family: Arial, sans-serif;
	font-weight: 400;
	color: #333
}

a, a:link, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none
}

a img {
	border: none
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px
}

ul, ol, li {
	margin: 0px;
	padding: 0px;
	list-style: none
}

input[type="submit"] {
	font-size: 0px;
	line-height: 0px;
	text-indent: -1000000px
}

hr {
	border: 0;
	height: 1px;
	background: #e7e8e4;
	margin: 35px 0 35px 0
}

::-webkit-selection, ::-moz-selection, ::selection {
	color: #fff;
	background-color: #56c5d0
}

.clearfix {
	clear: both;
	height: 0px;
	overflow: hidden
}

h1 {
	font-family: battersea, Helvetica, Arial, sans-serif;
	font-size: 32.8px;
	font-weight: 300;
	color: #7e887d;
	letter-spacing: .05em;
	margin: 0 0 30px 0
}

h2 {
	font-family: battersea, Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #7e887d;
	text-transform: uppercase;
	letter-spacing: .05em;
	margin: 30px 0
}

h3 {
	font-family: battersea, Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 300;
	color: #7e887d;
	margin: 20px 0
}

h4 {
	font-family: battersea, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #56c5d0;
	margin: 15px 0
}

.content p, .content ol, .content ul {
	line-height: 1.5;
	margin: 10px 0;
	font-size: 13px;
	color: #7e887d
}

.content .standout {
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 16px;
	margin-bottom: 25px
}

.main .content li {
	margin: 0 0 10px 20px;
	padding: 0 0 0 5px;
	list-style-type: disc
}

#ja-jobs-widget .description {
	line-height: 1.5;
	margin: 10px 0;
	font-size: 13px;
	color: #7e887d
}

#ja-jobs-widget .apply {
	margin-top: 20px;
	line-height: 1.5;
	font-size: 13px;
	color: #f68f69
}

#ja-jobs-widget .view-details {
	margin-top: 20px;
	line-height: 1.5;
	font-size: 13px;
	color: #f68f69
}

#ja-jobs-widget .powered-by-jobadder {
	display: none
}

.light {
	font-weight: 300
}

em {
	font-style: italic
}

strong {
	font-weight: bold
}

#outer {
	position: relative;
	left: 50%;
	width: 3708px;
	margin-left: -1854px;
	background: url(../../img/sidebar_grey.png) repeat-y
}

#hack {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1000px;
	height: 428px;
	background: white url(../../img/hero_bg.png) repeat-x
}

#container {
	position: relative;
	left: 50%;
	width: 1704px;
	margin-left: -852px
}

#hd {
	height: 109px;
	position: relative;
	z-index: 100
}

#logo {
	position: absolute;
	top: 48px;
	left: 367px;
	width: 243px;
	height: 44px;
	background: url(../../img/logo.png) no-repeat;
	text-indent: -100000000px;
	font-size: 0
}

#nav {
	position: absolute;
	right: 371px;
	bottom: 0px;
	height: 48px;
	font-family: outsiders, Georgia, serif;
	font-style: italic;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0.1em;
	border-left: 1px solid #e7e8e4
}

#nav li {
	display: block;
	height: 100%;
	float: left;
	border-right: 1px solid #e7e8e4
}

#nav a {
	display: block;
	height: 100%;
	line-height: 48px;
	padding: 0px 14px;
	color: #7e887d
}

#nav a:hover {
	color: #56c5d0
}

#nav li ul {
	display: none;
	position: absolute;
	max-width: 400px;
	margin-left: -11px;
	background: white;
	padding: 20px 38px 20px 25px
}

#nav li ul li {
	float: none;
	border: 0
}

#nav li ul li a {
	color: #95a094;
	font-size: 14px;
	font-family: outsiders, Georgia, serif;
	font-style: normal !important;
	font-weight: 300;
	background: none !important;
	line-height: 16px;
	padding: 4px 0px
}

#nav li ul li a span {
	font-style: normal !important
}

#nav li ul li ul {
	display: none !important
}

#nav li:hover ul {
	display: block
}

#nav #navhome a:hover, #nav #navhome.active a, #nav #navcontact-us a:hover,
	#nav #navcontact-us.active a {
	color: #c49a64;
	background: url('../../img/up_arrow_gold.png') no-repeat bottom center
}

#nav #navhome:hover ul, #nav #navhome.active ul, #nav #navcontact-us:hover ul,
	#nav #navcontact-us.active ul {
	border-top: 3px solid #c49a64
}

#nav #navhome:hover ul a, #nav #navhome.active ul a, #nav #navcontact-us:hover ul a,
	#nav #navcontact-us.active ul a {
	color: #95a094
}

#nav #navhome:hover ul a:hover, #nav #navhome.active ul a:hover, #nav #navcontact-us:hover ul a:hover,
	#nav #navcontact-us.active ul a:hover {
	color: #c49a64
}

#nav #navhome:hover ul ul, #nav #navhome.active ul ul, #nav #navcontact-us:hover ul ul,
	#nav #navcontact-us.active ul ul {
	border: 0
}

#nav #navabout a:hover, #nav #navabout.active a {
	color: #37465b;
	background: url('../../img/up_arrow_darkblue.png') no-repeat bottom
		center
}

#nav #navabout:hover ul, #nav #navabout.active ul {
	border-top: 3px solid #37465b
}

#nav #navabout:hover ul a, #nav #navabout.active ul a {
	color: #95a094
}

#nav #navabout:hover ul a:hover, #nav #navabout.active ul a:hover {
	color: #37465b
}

#nav #navabout:hover ul ul, #nav #navabout.active ul ul {
	border: 0
}

#nav #navcommunity a:hover, #nav #navcommunity.active a {
	color: #f3716d;
	background: url('../../img/up_arrow_red.png') no-repeat bottom center
}

#nav #navcommunity:hover ul, #nav #navcommunity.active ul {
	border-top: 3px solid #f3716d
}

#nav #navcommunity:hover ul a, #nav #navcommunity.active ul a {
	color: #95a094
}

#nav #navcommunity:hover ul a:hover, #nav #navcommunity.active ul a:hover
	{
	color: #f3716d
}

#nav #navcommunity:hover ul ul, #nav #navcommunity.active ul ul {
	border: 0
}

#nav #navcareers a:hover, #nav #navcareers.active a {
	color: #f68f69;
	background: url('../../img/up_arrow_orange.png') no-repeat bottom center
}

#nav #navcareers:hover ul, #nav #navcareers.active ul {
	border-top: 3px solid #f68f69
}

#nav #navcareers:hover ul a, #nav #navcareers.active ul a {
	color: #95a094
}

#nav #navcareers:hover ul a:hover, #nav #navcareers.active ul a:hover {
	color: #f68f69
}

#nav #navcareers:hover ul ul, #nav #navcareers.active ul ul {
	border: 0
}

#nav #navnews a:hover, #nav #navnews.active a {
	color: #6f867f;
	background: url('../../img/up_arrow_darkgreen.png') no-repeat bottom
		center
}

#nav #navnews:hover ul, #nav #navnews.active ul {
	border-top: 3px solid #6f867f
}

#nav #navnews:hover ul a, #nav #navnews.active ul a {
	color: #95a094
}

#nav #navnews:hover ul a:hover, #nav #navnews.active ul a:hover {
	color: #6f867f
}

#nav #navnews:hover ul ul, #nav #navnews.active ul ul {
	border: 0
}

#nav #navinvestors a:hover, #nav #navinvestors.active a {
	color: #67a8bd;
	background: url('../../img/up_arrow_paleblue.png') no-repeat bottom
		center
}

#nav #navinvestors:hover ul, #nav #navinvestors.active ul {
	border-top: 3px solid #67a8bd
}

#nav #navinvestors:hover ul a, #nav #navinvestors.active ul a {
	color: #95a094
}

#nav #navinvestors:hover ul a:hover, #nav #navinvestors.active ul a:hover
	{
	color: #67a8bd
}

#nav #navinvestors:hover ul ul, #nav #navinvestors.active ul ul {
	border: 0
}

#nav #navprojects a:hover, #nav #navprojects.active a {
	color: #56c5d0;
	background: url('../../img/up_arrow_lightblue.png') no-repeat bottom
		center
}

#nav #navprojects:hover ul, #nav #navprojects.active ul {
	border-top: 3px solid #56c5d0
}

#nav #navprojects:hover ul a, #nav #navprojects.active ul a {
	color: #95a094
}

#nav #navprojects:hover ul a:hover, #nav #navprojects.active ul a:hover
	{
	color: #56c5d0
}

#nav #navprojects:hover ul ul, #nav #navprojects.active ul ul {
	border: 0
}

#nav #navprojects ul {
	position: absolute;
	left: 0px;
	width: 100%;
	max-width: none;
	margin-left: 0;
	background: white;
	border-top: 3px solid #56c5d0;
	padding: 10px 0 10px 0
}

#nav #navprojects ul li {
	margin-left: 3%;
	margin-right: 1%;
	width: 22%;
	float: left
}

#nav #navprojects ul li a {
	display: block;
	margin: 10px 0;
	font-family: battersea, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	color: #95a094;
	text-transform: uppercase;
	border-bottom: 1px solid #e7e8e4;
	width: 120%;
	padding-bottom: 15px
}

#nav #navprojects ul li:last-child a {
	width: 90%
}

#nav #navprojects ul li ul {
	position: relative;
	width: auto;
	display: block !important
}

#nav #navprojects ul li ul li {
	width: auto;
	float: none;
	border: 0;
	margin: 0 0 5px 0
}

#nav #navprojects ul li ul a {
	width: auto;
	padding: 0;
	border: 0;
	display: inline;
	line-height: 1.4;
	font-family: outsiders, Georgia, serif;
	font-size: 13px;
	color: #7b877a !important;
	font-style: normal !important;
	font-weight: 300;
	background: none !important;
	text-transform: none
}

#nav #navprojects ul li ul a:hover {
	color: #56c5d0 !important
}

#hero {
	position: relative;
	height: 319px
}

#hero img {
	position: absolute;
	top: 0;
	left: 123px
}

#hero .hero-edge-left {
	position: absolute;
	z-index: 98;
	top: 0;
	left: 123px;
	background: url(../../img/gallery-left.png) top right;
	width: 241px;
	height: 319px
}

#hero .hero-edge-right {
	position: absolute;
	z-index: 98;
	top: 0;
	left: 1336px;
	background: url(../../img/gallery-right.png);
	width: 229px;
	height: 319px
}

#hero .hero-next {
	position: absolute;
	z-index: 99;
	top: 120px;
	left: 1336px;
	background: url(../../img/hero-next.png);
	width: 38px;
	height: 63px;
	cursor: pointer
}

#hero .hero-prev {
	position: absolute;
	z-index: 99;
	top: 120px;
	left: 321px;
	background: url(../../img/hero-prev.png);
	width: 38px;
	height: 63px;
	cursor: pointer
}

#hero a.heroVideo {
	position: absolute;
	z-index: 100;
	bottom: 0px;
	width: 161px;
	height: 46px;
	right: 406px;
	display: block;
	text-indent: -9999px;
	background: url(../../img/b_play_video.png)
}

#hero a.heroVideo:hover {
	background-position: left bottom
}

#bd {
	background: white url(../../img/content_bg_repeat.png) repeat-y
}

.sidebar {
	border-top: 5px solid #57c5c7;
	min-height: 400px;
	background: #f9f9f9;
	width: 1669px;
	margin-left: -1000px;
	float: left
}

.sidebar h2 {
	font-family: outsiders, Georgia, serif;
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
	text-transform: none;
	color: #7e887d;
	margin: 30px 0
}

.sidebar .content {
	width: 275px;
	margin: 30px 0 0 1364px
}

.sidebar .content .section {
	padding: 0 0 30px 0;
	margin: 0 0 30px 0;
	border-bottom: 1px solid #e7e8e4
}

.content .subnav {
	font-family: outsiders, Georgia, serif;
	font-weight: 300;
	font-size: 14px
}

.content .subnav li {
	margin-bottom: 5px
}

.content .subnav a {
	display: block;
	padding: 1px 0 3px 20px;
	line-height: 1.4;
	color: #7e887d;
	text-decoration: none
}

.content .subnav a:hover {
	background: url(../../img/right_arrow.png) no-repeat left 2px;
	color: #56c5d0
}

.content .subnav li.active a {
	background: url(../../img/right_arrow.png) no-repeat left 2px;
	color: #56c5d0
}

.content .subnav ul {
	display: none
}

.content .subnav ul li a {
	color: #7e887d;
	background: none
}

.content .subnav .active ul {
	display: block;
	margin: 5px 0 10px 20px
}

.content .news_articles .item {
	margin: 0 0 20px 0;
	position: relative
}

.content .news_articles a {
	display: block;
	color: #7e887d
}

.content .news_articles a:hover {
	color: #7e887d
}

.content .news_articles a:hover .readmore {
	color: #56c5d0;
	text-decoration: underline
}

.content .news_articles img {
	float: left
}

.content .news_articles .description {
	width: 150px;
	display: block;
	float: left;
	margin: 2px 0 0 20px;
	font-family: battersea, sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 1.4
}

.content .news_articles .description .publish_date {
	font-size: 12px;
	font-weight: normal
}

.content .news_articles .readmore {
	position: absolute;
	bottom: -3px;
	left: 120px
}

.sidebar .links li {
	margin: 0 0 20px 0
}

.sidebar .links li a {
	text-decoration: none
}

.sidebar .links .description {
	font-family: battersea, sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 1.4
}

.sidebar .links .description .publish_date {
	font-size: 12px;
	font-weight: normal
}

.main .news_articles .item {
	float: left;
	width: 45%;
	margin-right: 5%
}

.main {
	width: 1034px;
	float: left;
	background: url(../../img/content_bg_top1.png) repeat-y scroll left top;
}

.main .content {
	width: 617px;
	margin: 42px 0 45px 50px
}

.main .content.content-with-pullout {
	width: 445px;
	margin: 42px 0 45px 222px
}

#ft {
	position: relative;
	left: -1000px;
	width: 3704px;
	height: 96px;
	background: url(../../img/footer_bg.png) repeat-y
}

#footerlinks {
	position: absolute;
	top: 37px;
	left: 1714px;
	font-family: battersea;
	font-weight: 300;
	font-size: 13px;
	color: #7e887d
}

#footerlinks a {
	color: #7e887d;
	text-decoration: none
}

#footerlinks a:hover {
	text-decoration: underline
}

#footerlogo {
	position: absolute;
	width: 232px;
	height: 51px;
	background: url(../../img/footer_logo.png) no-repeat;
	top: 30px;
	left: 2175px
}

#subscriberform {
	position: absolute;
	left: 1360px;
	width: 270px;
	top: 0px
}

#subscriberform h2 {
	font-family: outsiders, Georgia, serif;
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
	text-transform: none;
	color: #7e887d;
	margin: 0 0 10px 0
}

#subscriberform #SubscriberEmail {
	display: block;
	width: 270px;
	height: 33px;
	border: 1px solid #e7e7e7;
	border-right: 0px;
	padding: 0;
	background: url(../../img/input_bg.png) no-repeat;
	line-height: 33px;
	font-family: Georgia, serif;
	font-style: italic;
	color: #7e887d;
	font-size: 14px;
	text-indent: 15px
}

#subscriberform #SubscriberEmail.hint {
	color: #b4b7b3
}

#subscriberform .submit {
	float: right;
	margin-top: -35px;
	border: 0;
	padding: 0;
	width: 35px;
	height: 35px;
	background: url(../../img/go_arrow_large.png);
	cursor: pointer
}

#subscriberform .submit:hover {
	background-position: left bottom
}

.gsc-control-cse {
	padding: 0 !important;
	background: transparent !important;
	border: 0 !important
}

input.gsc-input {
	font-size: 13px !important
}

input.gsc-empty {
	background: url(../../img/search.png) no-repeat 2px 2px !important
}

input.gsc-not-empty, .gsc-input-box-focus input.gsc-empty {
	background: none !important
}

input.gsc-search-button-v2 {
	border: 0 !important;
	padding: 6px 12px !important;
	background: #c49a64 !important
}

.gsst_a .gscb_a {
	padding-top: 3px !important
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
	padding-right: 4px !important
}

.gsc-adBlock {
	display: none !important
}

#sidebarsearch h2 {
	margin: 0 0 10px 0
}

#sidebarsearch #SearchField {
	display: block;
	width: 270px;
	height: 33px;
	border: 1px solid #e7e7e7;
	border-right: 0px;
	padding: 0;
	background: url(../../img/input_bg.png) no-repeat;
	line-height: 33px;
	font-family: Georgia, serif;
	font-style: italic;
	color: #7e887d;
	font-size: 14px;
	text-indent: 15px
}

#sidebarsearch #SearchField.hint {
	color: #b4b7b3
}

#sidebarsearch .submit {
	float: right;
	margin-top: -35px;
	border: 0;
	padding: 0;
	width: 35px;
	height: 35px;
	background: url(../../img/go_arrow_large.png);
	cursor: pointer
}

#sidebarsearch .submit:hover {
	background-position: left bottom
}

.home-tile {
	position: relative;
	width: 296px;
	height: 285px;
	float: left;
	margin-bottom: 10px;
	background: url(../../img/action_box_shadow_small.png) no-repeat left
		bottom
}

.home-tile.home-tile-first {
	margin-right: 24px
}

.home-tile .title {
	font-family: battersea, Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	color: #7e887d;
	line-height: 52px;
	text-indent: 25px
}

.home-tile .arrow {
	position: absolute;
	bottom: 27px;
	right: 18px;
	width: 21px;
	height: 21px;
	background: url(../../img/go_arrow.png)
}

.home-tile a {
	text-decoration: none !important
}

.home-tile a:hover .title {
	color: #c49a64
}

.home-tile a:hover .arrow {
	background-position: left bottom
}

.home-tile-large {
	width: 616px;
	height: 309px;
	float: none;
	background: url(../../img/action_box_shadow_large.png) no-repeat left
		bottom;
	margin-bottom: 20px
}

.home-tile-large img {
	width: 616px;
	height: 245px
}

.home-tile-large .title {
	padding-left: 25px
}

.home-tile-large .title a, .home-tile-large .title span {
	display: block;
	float: left;
	text-indent: 0px;
	color: #7e887d
}

.home-tile-large .title a.active, .home-tile-large .title span.active {
	color: #c49a64;
	background: url(../../img/up_arrow_gold.png) no-repeat 50% bottom
}

.home-tile-large:first-child {
	display: block;
	width: 100%;
	height: 100%
}

.content a {
	text-decoration: underline
}

.content a:hover {
	color: #c49a64
}

.content-with-pullout .pullout {
	float: left;
	width: 170px;
	margin-left: -190px
}

.content-with-pullout .pullout, .content-with-pullout .pullout p {
	text-align: right;
	font-family: battersea, Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-weight: 300;
	line-height: 1.1;
	color: #56c5d0;
	margin-top: 0
}

.content-with-pullout .pullout em, .content-with-pullout .pullout p em {
	font-family: outsiders, Georgia, serif;
	font-weight: normal
}

.content-with-pullout .outdent {
	margin: 20px 0 20px -180px
}

.childPage {
	border-top: 1px solid #e7e8e4;
	margin-top: 30px;
	padding-top: 30px
}

a.action_button {
	display: block;
	text-decoration: none;
	height: 32px;
	line-height: 32px;
	background: #59c2be url(../../img/action_button_bg.png) repeat-x top
		right;
	font-family: outsiders, Georgia, serif;
	font-style: italic;
	font-weight: normal;
	font-size: 15px;
	color: white;
	text-indent: 10px
}

a.action_button:hover {
	color: white !important;
	background-position: bottom right
}

.news-article-featured-image {
	margin: 20px 0 25px -180px
}

.faq-content h3 {
	padding: 15px 50px 15px 0;
	margin: 0;
	position: relative;
	cursor: pointer;
	border-top: 1px solid #e7e8e4
}

.faq-content h3.expanded {
	background: url(../../img/faq-shadow-top.png) no-repeat 50% top;
	padding-top: 25px
}

.faq-content h3.expanded .arrow {
	background: url(../../img/go_arrow_down.png);
	top: 24px
}

.faq-content h3 .arrow {
	position: absolute;
	top: 14px;
	right: 18px;
	width: 21px;
	height: 21px;
	background: url(../../img/go_arrow.png)
}

.faq-content h3:hover .arrow {
	background-position: left bottom
}

.faq-content .content-wrapper {
	padding-bottom: 20px
}

.faq-content .childPage {
	border: 0;
	border-bottom: 1px solid #e7e8e4
}

#section-default ::-webkit-selection, #section-default ::-moz-selection,
	#section-default ::selection, #section-home ::-webkit-selection,
	#section-home ::-moz-selection, #section-home ::selection,
	#section-contact-us ::-webkit-selection, #section-contact-us ::-moz-selection,
	#section-contact-us ::selection {
	background-color: #c49a64
}

#section-default #logo, #section-home #logo, #section-contact-us #logo {
	background-image: url('../../img/logo_gold.png')
}

#section-default h4, #section-home h4, #section-contact-us h4 {
	color: #c49a64
}

#section-default .sidebar, #section-home .sidebar, #section-contact-us .sidebar
	{
	border-top: 5px solid #c49a64
}

#section-default .action_button, #section-home .action_button,
	#section-contact-us .action_button {
	background-color: #c49a64;
	background-image: url('../../img/action_button_bg_gold.png')
}

#section-default .content .subnav a:hover, #section-default .content .subnav li.active a,
	#section-home .content .subnav a:hover, #section-home .content .subnav li.active a,
	#section-contact-us .content .subnav a:hover, #section-contact-us .content .subnav li.active a
	{
	color: #c49a64;
	background-image: url('../../img/right_arrow_gold.png')
}

#section-default .content .subnav li.active ul li a, #section-home .content .subnav li.active ul li a,
	#section-contact-us .content .subnav li.active ul li a {
	color: #7e887d;
	background-image: none
}

#section-default .content .subnav li.active ul li.active a,
	#section-default .content .subnav li.active ul li a:hover,
	#section-home .content .subnav li.active ul li.active a, #section-home .content .subnav li.active ul li a:hover,
	#section-contact-us .content .subnav li.active ul li.active a,
	#section-contact-us .content .subnav li.active ul li a:hover {
	color: #c49a64
}

#section-default .content a:hover, #section-home .content a:hover,
	#section-contact-us .content a:hover {
	color: #c49a64
}

#section-default .content .news_articles a:hover .readmore,
	#section-home .content .news_articles a:hover .readmore,
	#section-contact-us .content .news_articles a:hover .readmore {
	color: #c49a64
}

#section-default .content-with-pullout .pullout, #section-default .content-with-pullout .pullout p,
	#section-home .content-with-pullout .pullout, #section-home .content-with-pullout .pullout p,
	#section-contact-us .content-with-pullout .pullout, #section-contact-us .content-with-pullout .pullout p
	{
	color: #c49a64
}

#section-default #subscriberform .submit, #section-home #subscriberform .submit,
	#section-contact-us #subscriberform .submit {
	background-position: 0px top
}

#section-default #subscriberform .submit:hover, #section-home #subscriberform .submit:hover,
	#section-contact-us #subscriberform .submit:hover {
	background-position: 0px bottom
}

#section-default #sidebarsearch .submit, #section-home #sidebarsearch .submit,
	#section-contact-us #sidebarsearch .submit {
	background-position: 0px top
}

#section-default #sidebarsearch .submit:hover, #section-home #sidebarsearch .submit:hover,
	#section-contact-us #sidebarsearch .submit:hover {
	background-position: 0px bottom
}

#section-default input.gsc-search-button-v2, #section-home input.gsc-search-button-v2,
	#section-contact-us input.gsc-search-button-v2 {
	background: #c49a64 !important
}

#section-default .fancybox-close, #section-home .fancybox-close,
	#section-contact-us .fancybox-close {
	background-position: 0px top
}

#section-default .fancybox-close:hover, #section-home .fancybox-close:hover,
	#section-contact-us .fancybox-close:hover {
	background-position: 0px bottom
}

#section-about ::-webkit-selection, #section-about ::-moz-selection,
	#section-about ::selection {
	background-color: #37465b
}

#section-about #logo {
	background-image: url('../../img/logo_gold.png')
}

#section-about h4 {
	color: #37465b
}

#section-about .sidebar {
	border-top: 5px solid #37465b
}

#section-about .action_button {
	background-color: #37465b;
	background-image: url('../../img/action_button_bg_darkblue.png')
}

#section-about .content .subnav a:hover, #section-about .content .subnav li.active a
	{
	color: #37465b;
	background-image: url('../../img/right_arrow_darkblue.png')
}

#section-about .content .subnav li.active ul li a {
	color: #7e887d;
	background-image: none;
}

#section-about .content .subnav li.active ul li.active a, #section-about .content .subnav li.active ul li a:hover
	{
	color: #37465b
}

#section-about .content a:hover {
	color: #37465b
}

#section-about .content .news_articles a:hover .readmore {
	color: #37465b
}

#section-about .content-with-pullout .pullout, #section-about .content-with-pullout .pullout p
	{
	color: #37465b
}

#section-about #subscriberform .submit {
	background-position: -105px top
}

#section-about #subscriberform .submit:hover {
	background-position: -105px bottom
}

#section-about #sidebarsearch .submit {
	background-position: -105px top
}

#section-about #sidebarsearch .submit:hover {
	background-position: -105px bottom
}

#section-about input.gsc-search-button-v2 {
	background: #37465b !important
}

#section-about .fancybox-close {
	background-position: -69px top
}

#section-about .fancybox-close:hover {
	background-position: -69px bottom
}

#section-projects ::-webkit-selection, #section-projects ::-moz-selection,
	#section-projects ::selection {
	background-color: #56c5d0
}

#section-projects #logo {
	background-image: url('../../img/logo_lightblue.png')
}

#section-projects h4 {
	color: #56c5d0
}

#section-projects .sidebar {
	border-top: 5px solid #56c5d0
}

#section-projects .action_button {
	background-color: #56c5d0;
	background-image: url('../../img/action_button_bg_lightblue.png')
}

#section-projects .content .subnav a:hover, #section-projects .content .subnav li.active a
	{
	color: #56c5d0;
	background-image: url('../../img/right_arrow_lightblue.png')
}

#section-projects .content .subnav li.active ul li a {
	color: #7e887d;
	background-image: none
}

#section-projects .content .subnav li.active ul li.active a,
	#section-projects .content .subnav li.active ul li a:hover {
	color: #56c5d0
}

#section-projects .content a:hover {
	color: #56c5d0
}

#section-projects .content .news_articles a:hover .readmore {
	color: #56c5d0
}

#section-projects .content-with-pullout .pullout, #section-projects .content-with-pullout .pullout p
	{
	color: #56c5d0
}

#section-projects #subscriberform .submit {
	background-position: -140px top
}

#section-projects #subscriberform .submit:hover {
	background-position: -140px bottom
}

#section-projects #sidebarsearch .submit {
	background-position: -140px top
}

#section-projects #sidebarsearch .submit:hover {
	background-position: -140px bottom
}

#section-projects input.gsc-search-button-v2 {
	background: #56c5d0 !important
}

#section-projects .fancybox-close {
	background-position: -92px top
}

#section-projects .fancybox-close:hover {
	background-position: -92px bottom
}

#section-community ::-webkit-selection, #section-community ::-moz-selection,
	#section-community ::selection {
	background-color: #f3716d
}

#section-community #logo {
	background-image: url('../../img/logo_red.png')
}

#section-community h4 {
	color: #f3716d
}

#section-community .sidebar {
	border-top: 5px solid #f3716d
}

#section-community .action_button {
	background-color: #f3716d;
	background-image: url('../../img/action_button_bg_red.png')
}

#section-community .content .subnav a:hover, #section-community .content .subnav li.active a
	{
	color: #f3716d;
	background-image: url('../../img/right_arrow_red.png')
}

#section-community .content .subnav li.active ul li a {
	color: #7e887d;
	background-image: none
}

#section-community .content .subnav li.active ul li.active a,
	#section-community .content .subnav li.active ul li a:hover {
	color: #f3716d
}

#section-community .content a:hover {
	color: #f3716d
}

#section-community .content .news_articles a:hover .readmore {
	color: #f3716d
}

#section-community .content-with-pullout .pullout, #section-community .content-with-pullout .pullout p
	{
	color: #f3716d
}

#section-community #subscriberform .submit {
	background-position: -70px top
}

#section-community #subscriberform .submit:hover {
	background-position: -70px bottom
}

#section-community #sidebarsearch .submit {
	background-position: -70px top
}

#section-community #sidebarsearch .submit:hover {
	background-position: -70px bottom
}

#section-community input.gsc-search-button-v2 {
	background: #f3716d !important
}

#section-community .fancybox-close {
	background-position: -46px top
}

#section-community .fancybox-close:hover {
	background-position: -46px bottom
}

#section-careers ::-webkit-selection, #section-careers ::-moz-selection,
	#section-careers ::selection {
	background-color: #f68f69
}

#section-careers #logo {
	background-image: url('../../img/logo_orange.png')
}

#section-careers h4 {
	color: #f68f69
}

#section-careers .sidebar {
	border-top: 5px solid #f68f69
}

#section-careers .action_button {
	background-color: #f68f69;
	background-image: url('../../img/action_button_bg_orange.png')
}

#section-careers .content .subnav a:hover, #section-careers .content .subnav li.active a
	{
	color: #f68f69;
	background-image: url('../../img/right_arrow_orange.png')
}

#section-careers .content .subnav li.active ul li a {
	color: #7e887d;
	background-image: none
}

#section-careers .content .subnav li.active ul li.active a,
	#section-careers .content .subnav li.active ul li a:hover {
	color: #f68f69
}

#section-careers .content a:hover {
	color: #f68f69
}

#section-careers .content .news_articles a:hover .readmore {
	color: #f68f69
}

#section-careers .content-with-pullout .pullout, #section-careers .content-with-pullout .pullout p
	{
	color: #f68f69
}

#section-careers #subscriberform .submit {
	background-position: -35px top
}

#section-careers #subscriberform .submit:hover {
	background-position: -35px bottom
}

#section-careers #sidebarsearch .submit {
	background-position: -35px top
}

#section-careers #sidebarsearch .submit:hover {
	background-position: -35px bottom
}

#section-careers input.gsc-search-button-v2 {
	background: #f68f69 !important
}

#section-careers .fancybox-close {
	background-position: -23px top
}

#section-careers .fancybox-close:hover {
	background-position: -23px bottom
}

#section-news ::-webkit-selection, #section-news ::-moz-selection,
	#section-news ::selection {
	background-color: #6f867f
}

#section-news #logo {
	background-image: url('../../img/logo_darkgreen.png')
}

#section-news h4 {
	color: #6f867f
}

#section-news .sidebar {
	border-top: 5px solid #6f867f
}

#section-news .action_button {
	background-color: #6f867f;
	background-image: url('../../img/action_button_bg_darkgreen.png')
}

#section-news .content .subnav a:hover, #section-news .content .subnav li.active a
	{
	color: #6f867f;
	background-image: url('../../img/right_arrow_darkgreen.png')
}

#section-news .content .subnav li.active ul li a {
	color: #7e887d;
	background-image: none
}

#section-news .content .subnav li.active ul li.active a, #section-news .content .subnav li.active ul li a:hover
	{
	color: #6f867f
}

#section-news .content a:hover {
	color: #6f867f
}

#section-news .content .news_articles a:hover .readmore {
	color: #6f867f
}

#section-news .content-with-pullout .pullout, #section-news .content-with-pullout .pullout p
	{
	color: #6f867f
}

#section-news #subscriberform .submit {
	background-position: -175px top
}

#section-news #subscriberform .submit:hover {
	background-position: -175px bottom
}

#section-news #sidebarsearch .submit {
	background-position: -175px top
}

#section-news #sidebarsearch .submit:hover {
	background-position: -175px bottom
}

#section-news input.gsc-search-button-v2 {
	background: #6f867f !important
}

#section-news .fancybox-close {
	background-position: -115px top
}

#section-news .fancybox-close:hover {
	background-position: -115px bottom
}

#section-investors ::-webkit-selection, #section-investors ::-moz-selection,
	#section-investors ::selection {
	background-color: #67a8bd
}

#section-investors #logo {
	background-image: url('../../img/logo_paleblue.png')
}

#section-investors h4 {
	color: #67a8bd
}

#section-investors .sidebar {
	border-top: 5px solid #67a8bd
}

#section-investors .action_button {
	background-color: #67a8bd;
	background-image: url('../../img/action_button_bg_paleblue.png')
}

#section-investors .content .subnav a:hover, #section-investors .content .subnav li.active a
	{
	color: #67a8bd;
	background-image: url('../../img/right_arrow_paleblue.png')
}

#section-investors .content .subnav li.active ul li a {
	color: #7e887d;
	background-image: none
}

#section-investors .content .subnav li.active ul li.active a,
	#section-investors .content .subnav li.active ul li a:hover {
	color: #67a8bd
}

#section-investors .content a:hover {
	color: #67a8bd
}

#section-investors .content .news_articles a:hover .readmore {
	color: #67a8bd
}

#section-investors .content-with-pullout .pullout, #section-investors .content-with-pullout .pullout p
	{
	color: #67a8bd
}

#section-investors #subscriberform .submit {
	background-position: -210px top
}

#section-investors #subscriberform .submit:hover {
	background-position: -210px bottom
}

#section-investors #sidebarsearch .submit {
	background-position: -210px top
}

#section-investors #sidebarsearch .submit:hover {
	background-position: -210px bottom
}

#section-investors input.gsc-search-button-v2 {
	background: #67a8bd !important
}

#section-investors .fancybox-close {
	background-position: -138px top
}

#section-investors .fancybox-close:hover {
	background-position: -138px bottom
}